{% extends 'socmed/base.html' %}
<!DOCTYPE html>
{% block content %} 
<html>
    <section>
        <h2>Latest Posts</h2>
        <div>
            <ul>
                {% for post in Posts %}
                    <li>[{{ post.user.username }}]: {{ post.text }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section>
        <form action="add/" method="POST">
            {% csrf_token %}
            <textarea name="text" placeholder="Type post here"></textarea>
            <input type="submit" value="Add">
        </form>
    </section>
</body>
</html>
{% endblock %}